.About{
  min-height: 100vh;
  position: relative;
  background: url(/img1.jpg) rgba(248, 244, 244, 0.75);
  background-blend-mode: darken;
  background-size: cover;
  background-repeat: no-repeat;
  display: flex;
  align-items: center;
  padding: 150px 0 70px 0;
  padding-left: 7rem;
}

.title h1{
    text-align: center;
    color:  #8f1428;
    position: relative;
    display: flex;
    text-shadow:none;
    font-size:60px;
    animation:slideIn 4s ease-in-out;

    
}

@keyframes slideIn {
    0%{
        transform: translateX(-100);
        opacity: 0;
    }
    100%{
        transform: translateX(0);
        opacity: 1;
    }
}

.title h1 span{
    color:azure;
}

.sub-title p{
    color: whitesmoke;
    
}

 .card img{

    width: 25%;
    height: 200px;
    color: #ddd;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

