.About{
  min-height: 100vh;
  position: relative;
  background: url(/img1.jpg) rgba(248, 244, 244, 0.75);
  background-blend-mode: darken;
  background-size: cover;
  background-repeat: no-repeat;
  display: flex;
  align-items: center;
  padding: 150px 0 70px 0;
  padding-left: 7rem;
}

.title h1{
    text-align: center;
    color: rgb(214, 25, 25);
    position: relative;
    display: flex;
    text-shadow:none;
    font-size:60px;
    animation:slideIn 4s ease-in-out;

    
}
