.features{

  background-color: rgba(192, 192, 192, 0.881);
}


.feature1 img{

  width:30%;
  height:50%;
  object-fit:fill;
  margin-top:35px;
  margin-bottom: 0;
  padding-top:15px ;
  float: right; 
  margin-top: 0;
  
}

.text h2{
  color:rgb(99, 14, 14);
  display: inline;
  font-size: 35px;
  padding-left: 25px;

}

.text p{

  text-align:left;
  font-size:20px;
  padding: 30px;
  position: relative;
  font-family:'sans-serif';
}