@import url('https://fonts.googleapis.com/css2?family=Cinzel:wght@700&display=swap');


.hero{
    height: 50vh;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    
}
.hero h1{

  font-family: 'Cinzel', sans-serif; /* You can change this to a stylish font */
  font-size: 3.5rem;
  text-align: center;
  color: #510a42; /* Golden text */
  padding: 20px;
 
 transform: skewX(-20deg);
  animation: shine 2.5s infinite;


  /* Glow (not blurred) */


    
  text-shadow:
    0 0 2px #b0810a,
    0 0 2px #eee609,
    0 0 3px #f4c90a;


 
}




   




  



