.hero{
    height: 50vh;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    
}

.hero h1{
    font-size: 3rem;
    color: rgb(223, 164, 28);
    text-align: center;
    text-transform: uppercase;
    letter-spacing: 2px;
}