@import url('https://fonts.googleapis.com/css2?family=Cinzel:wght@700&display=swap');


.hero{
    height: 50vh;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    
}
.hero h1{
 font-size: 4rem;
      font-weight: bold;
      text-align: center;
      text-transform: uppercase;
      letter-spacing: 2px;

      /* Gradient Shine */
      background: #ece9eb;
      background-size: 200%;
      background-repeat: no-repeat;
      background-clip: text;
      -webkit-background-clip: text;
       color: transparent;
      -webkit-text-fill-color: transparent;

      /* Glow Border */
      -webkit-text-stroke: 3px #e9170f;

      /* Effects */
      animation:
        shine 2.5s linear infinite,
        pulse 5s ease-in-out infinite;

}
 @keyframes shine {
      0% {
        background-position: -200%;
      }
      100% {
        background-position: 200%;
      }
    }
     @keyframes shine {
      0% {
        background-position: -200%;
      }
      100% {
        background-position: 200%;
      }
       50% {
        text-shadow:
          0 0 15px #f4edec,
          
          0 0 45px #b07a06;
      }
    }