.navbar{
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem;
    background-color:#4c0033;
    color: rgb(223, 164, 28);
   
}

.navbar li{
    display: inline-block;
    list-style: none;
    margin-left: 1rem;
}

.navbar li a{
    text-decoration: none;
    color: rgb(223, 164, 28);
}
.navbar li a.active{
    color: rgb(189, 165, 44);
    font-weight: bold;
    border-bottom: 2px solid #d49f0c;
}
.logo-img {
  height: 80px;                 
  width: 80px;                  
  object-fit: cover;            
  border-radius: 50%;           
  border: 3px solid #fce903;    
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.3); 
  transition: transform 0.3s ease;
}

.logo-img:hover {
  transform: scale(1.1);        
  cursor: pointer;
}
