.navbar{
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem;
    background-color:#4c0033;
    color: rgb(223, 164, 28);
   
}

.navbar li{
    display: inline-block;
    list-style: none;
    margin-left: 1rem;
}

.navbar li a{
    text-decoration: none;
    color: rgb(223, 164, 28);
}
.navbar li a.active{
    color: rgb(189, 165, 44);
    font-weight: bold;
    border-bottom: 2px solid #d49f0c;
}


