.service-section {
  padding: 2rem;
  background-color: #e3e0e0;
  text-align: center;
}

.service-title {
  font-size: 32px;
  font-weight: bold;
  margin-bottom: 30px;
  color: #020f35;
}


.service-grid {
  width: 100%;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  gap: 20px;
}

.service-card {
  cursor: pointer;
  margin-bottom: 2rem;
  width: 30%;
  background-color: white;
  border-radius: 10px;
  overflow: hidden;
  box-shadow: 0 4px 10px #36323249;
  transition: transform 0.3s ease;
}

.service-card:hover {
  transform: translateY(-5px);
  box-shadow: 0 8px 16px #36323249;

}

.service-image {
  width: 100%;
  height: 200px;
  object-fit: cover;
}

.service-content {
  padding: 15px;
}

.service-content h3 {
  font-size: 20px;
  margin-bottom: 10px;
  color: #901c24;
  text-transform: capitalize;
}

.service-content hr {
  margin-bottom: .5rem;
}

.service-content p {
  font-size: 14px;
  color: #555;
}




/*---alternate image and content---*/
.works {
  padding: 2rem;
}

.work {
  display: flex;
  justify-content: space-between;
  width: 100%;
  height: 45vh;
  margin-bottom: 2rem;
  background-color: #f1f1f1;
  border-radius: 5px;
  padding: 1rem;
  box-shadow: 0 4px 10px #36323249;
  transition: all .5s ease;
}

.work:hover {
  box-shadow: 0 8px 16px #36323249;
  transform: translateY(-7px);
  cursor: pointer;
}

.work.left {
  flex-direction: row-reverse;
}

.work-content {
  width: 50%;
}



.work-content hr {
  border: none;
  outline: none;
  border-bottom: 1px solid #901c24;
  margin: .5rem 0;
}

.work-img {
  width: 40%;
  height: 100%;
  border-radius: 5px;
}


.work-img img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}


.work h2 {
  color: #901c24;
  padding-top: 10px;

}

.work p {
  color: #444;
  padding-top: 10px;
}


/* // Media Query  */
@media screen and (max-width:768px) {
  .service-card {
    width: 100%;
  }

  .work {
    flex-direction: column;
    height: auto;
  }

  .work.left {
    flex-direction: column;
  }

  .work-content {
    width: 100%;
  }

  .work-img {
    width: 100%;
    height: 35vh;
    margin-top: 1rem;
  }
}