.service-section{

  padding: 40px;
  background-color: #d7d2d2;
  text-align: center;
}

.service-title{
  font-size: 32px;
  font-weight: bold;
  margin-bottom: 30px;
  color:rgb(144, 28, 36);
  animation: animate-text 5s infinite;

}
@keyframes animate-text{

    0%{
        transform: scale(1);
        color:#d7d2d2;
    }
    50%{
        transform: scale(1,2);
        color:#ab4949;

    }100%{
        transform: scale(1);
        color:brown;
    }
}
.service-grid {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  justify-content: center;
}
.service-card {
  width: 300px;
  background-color: white;
  border-radius: 10px;
  overflow: hidden;
  box-shadow: 0 4px 10px rgba(239, 236, 236, 0.1);
  transition: transform 0.3s ease;
}
.service-card:hover {
  transform: translateY(-5px);
}
.service-image {
  width: 100%;
  height: 250px;
  object-fit: cover;
}
.service-content {
  padding:15px;
}
.service-content h3 {
  font-size: 20px;
  margin-bottom: 10px;
}
.service-content p {
  font-size: 14px;
  color: #555;
}




/*---alternate image and content---*/
.works{
  padding: 2rem;
}
.work{
  display: flex;
  justify-content: space-between;
  /* align-items: center; */
  width: 100%;
  height: 45vh;
 
  margin-bottom: 2rem;
}
.work.left{
  flex-direction: row-reverse;
}
.work-content{
  width: 50%;
}
.work-img{
  width: 40%;
  height: 100%;
  border-style:groove;
  border-radius: 5px;
}


.work-img img{
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.work-img img{
  animation: slideIn .5s ease-in-out;
}

@keyframes slideIn {

  0%{
    transform:translatex(-100%);
  }
  100%{
    transform: translatex(0);
  }
}

.work-img img.cntn{
  object-fit: contain;
}
.work h2{
  color:#5a0f0f;
  padding-top: 10px;

}

.work p {

  padding-top: 10px;
}