.why-choose-us{
    background-color: #f1f1f1;
}
.choose-us-header {
    padding: 1rem 2rem;
    color: #4c0033;
}
.choose-us-header h3{
    color: rgb(89, 9, 89);
}
.choose-us-header h2{
    font-size: 2rem;
    margin-bottom: .5rem;
}
.choose-card-wrapper{
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    padding: 2rem;
}